<h1>Create New Short URL</h1>

<%= form_with model: @short_url, local: true do |form| %>
  <% if @short_url.errors.any? %>
    <div style="color: red;">
      <h2><%= pluralize(@short_url.errors.count, "error") %> prevented this URL from being saved:</h2>
      <ul>
        <% @short_url.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :original_url %>
    <%= form.text_field :original_url, placeholder: "https://example.com" %>
  </div>

  <div>
    <%= form.submit "Create Short URL" %>
  </div>
<% end %>

<%= link_to "Back to List", short_urls_path %>